<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sici.chat.mapper.UserFriendApplyMapper">

    <resultMap id="BaseResultMap" type="com.sici.chat.model.chat.apply.entity.UserFriendApply">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="targetId" column="target_id" jdbcType="INTEGER"/>
            <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
            <result property="acceptStatus" column="accept_status" jdbcType="TINYINT"/>
            <result property="applyMsg" column="apply_msg" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,target_id,
        apply_time,accept_status,apply_msg
    </sql>
</mapper>
